:root { 
--black_900_01:#000000; 
--blue_gray_100:#d9d9d9; 
--black_900:#000212; 
--gray_900:#152127; 
--blue_gray_800:#363a4b; 
--gray_200_01:#f0f0f0; 
--gray_200_02:#e7e7e7; 
--blue_gray_900:#212937; 
--gray_200:#eeeeee; 
--white_A700:#ffffff; 
--gray_50:#f8f8f8; 
}